@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Basic Model : Policy is "p, alice@example.com, BasicTest, GET" - <a asp-controller="Home" asp-action="BasicTest">Test</a>.</p>
    <p>KeyMatch Model : Policy is "p, alice@example.com, /home/privacy, GET" - <a asp-controller="Home" asp-action="Privacy">Test</a>.</p>
</div>
