@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Basic Model : Policy is "p, alice@example.com, BasicTest, GET" - <a asp-controller="Home" asp-action="BasicTest">Basic Test</a>.</p>
    <p>Attrib Route : Policy is "p, alice@example.com, /Attribute, GET" - <a asp-controller="Home" asp-action="AttributeTest">Attribute Test</a>.</p>
</div>
