@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Basic Model : Policy is "p, alice@example.com, Index, Get" - <a asp-controller="Home" asp-action="BasicTest">Test</a>.</p>
</div>
